.container /* resulting css */
{
  height: 100vh;
  width: 100vw;
  position: absolute;
  filter: contrast(350%) brightness(100%);
  background:
	linear-gradient(to right, rgba(255, 141, 213, 0.8) 20%, rgba(253, 107, 32, 0.764) 50%, rgba(2, 94, 167, 0.69) 70%),
    radial-gradient(
        at var(--mouse-x) var(--mouse-y), rgb(255, 255, 255), rgba(0, 0, 0)),
	url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.3' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    mask-image:
        linear-gradient(180deg, transparent 0%, black 50%, black 50%, transparent 100%),
        linear-gradient(90deg, transparent 0%, black 50%, black 50%, transparent 100%);
    mask-composite: intersect;
    -webkit-mask-composite: destination-in;
    
    /* mask-image: radial-gradient(circle, black 50%, transparent 100%);
    -webkit-mask-image: radial-gradient(circle, black 50%, transparent 100%); */
    /* mask-image: radial-gradient(circle at bottom right, black 50%, transparent 70%),
              radial-gradient(circle at top left, black 10%, transparent 100%);
  mask-composite: intersect; 
  -webkit-mask-composite: destination-in; 
  -webkit-mask-image: radial-gradient(circle at bottom, black 0%, transparent 90%),
                      radial-gradient(circle at bottom right, black 50%, transparent 90%); */
}

.noiseOverlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  background: url("/images/noise3.gif"); /* or /grain.webm for video */
  background-size: auto;
  background-repeat: repeat;
  mix-blend-mode: overlay; /* or overlay, multiply, screen */
  opacity: 0.05; /* Adjust this for subtlety */
  scale: 1;
}


